<mat-toolbar id="mainToolbar" color="primary">
    <button  mat-icon-button mat-button (click)="sidenav.toggle()"class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Projeto Indra</span>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" #sidenav mode="side" fixedInViewport="true" fixedTopGap="64">

        <mat-list id="menus">
            <mat-list-item>
                <button class="menu-item" mat-flat-button routerLink="/">
                    <mat-icon>home</mat-icon>
                    Inicio
                </button>
            </mat-list-item>

            <mat-list-item>
                <button class="menu-item" mat-flat-button routerLink="/usuarios">
                    <mat-icon>face</mat-icon>
                    Usuario
                </button>
            </mat-list-item>

            <mat-list-item>
                <button class="menu-item" mat-flat-button routerLink="/combustivel">
                    <mat-icon>local_gas_station</mat-icon>
                    Combustivel
                </button>
            </mat-list-item>

        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
       
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
